<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link href="css/style.css" rel="stylesheet"> -->
    </head>
    <body>
    <a href="/show_dashboard">Home</a><a href="/">Logout</a>
    
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    <p>Create a New Wishlist Item</p>   
    <form action="/create_list" method="POST">
          {% csrf_token %}
        <span>Items/Product: </span><input type="text" name="product">
        <input type="submit" name="submit" value="ADD">

    </form>
    </body>
</html>